
.container {
  background-color: #23282d;
}

video {
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
  border: 3px solid black;
  border-radius: 9px;
  box-shadow: 3px 3px 3px gray;
}

.title {
  font-size: 48;
  text-align: center;
  margin: auto;
}

.event {
  color: #ffffff;
  display: inline;
}

.userimg {
  display: inline;
  float: right;

}

.username {
  color: #ffffff;
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
  float: right;
}

#eventname {
  color: #ffffff;
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
}

#clipcount {
  color: #ffffff;
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif; 
}

#mapholder {
  margin: 5px;

}